name: run-tests

on:
  push:
    branches:
      - main

  pull_request:
    branches:
      - main

jobs:

  run-tests:

    strategy:
      matrix:
        runner:
          - ubuntu-latest
          - macos-latest
          - windows-latest

    runs-on: ${{ matrix.runner }}

    permissions:
      contents: read

    steps:

      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Setup Go
        uses: actions/setup-go@v6
        with:
          go-version: stable

      - name: Run tests
        run: go test -v ./...
